<!DOCTYPE html>
<body>
  <p style="margin-left: 2em;font-size:18px;">
  	We are proud to be exclusive distributors in Myanmar for:<br><br>
  	<p style="margin-left: 2em;"><%= link_to image_tag("/assets/logo/Koto_logo.png",size: "150x40", align: "Left"), "/product/koto"%><br><br></p><br><br>
  	<p style="margin-left: 2em;"><%= link_to image_tag("/assets/logo/kwtrio_logo.png",size: "150x50"), "/product/kw-trio" %></p><br><br>
  	<p style="margin-left: 2em;"><%= link_to image_tag("/assets/logo/Nippon_Tape_logo.png",size: "150x50"), "/product/nippon" %></p><br><br>
  	<p style="margin-left: 2em;"><%= link_to image_tag("/assets/logo/X_pro.png",size: "150x50"), "/product/xpro" %></p><br><br>
  	<p style="margin-left: 2em;"><%= link_to image_tag("/assets/logo/Platinum_logo.png",size: "150x50"), "/product/platinum" %></p><br><br>
  </p>
</body>

