<p style="margin-left: 2em; font-size: 17px;">
  	<%= link_to image_tag("/assets/logo/Koto_logo.png",size: "200x60"), "/product/koto"%><br><br>
  	<strong>Box File</strong><br><br>
  	<%= image_tag("/assets/koto/Box_File.jpg", size: "400x275") %><br><br>
  	<strong>Eraser</strong><br><br>
  	<%= image_tag("/assets/koto/Eraser.jpg", size: "400x275") %><br><br>
  	<strong>Pencil Lead</strong><br><br>
  	<%= image_tag("/assets/koto/Pencil_lead_1.jpg", size: "400x350") %>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
  	<%= image_tag("/assets/koto/Pencil_lead_2.jpg", size: "400x350") %><br>
  	&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<%= image_tag("/assets/koto/Pencil_lead_3.jpg", size: "400x350") %>
</p>