  <p style="margin-left: 2em; font-size: 14px;">
  	<strong>Auto Numbering Machine</strong><br><br>
  	<%= image_tag("/assets/Auto_numbering_machine.jpg", size: "250x350") %>
  	&nbsp;&nbsp;&nbsp;
  	<%= image_tag("/assets/Heavy_Duty_Stapler.jpg", size: "350x350") %><br>
  	<%= image_tag("/assets/Staples_&_heavy_duty_staples.jpg", size: "350x350") %><br>
  	<%= image_tag("/assets/Tacker.jpg", size: "500x350") %><br>
  	<%= image_tag("/assets/Stapler.jpg", size: "500x350") %><br>
  	<%= image_tag("/assets/Punch.jpg", size: "400x350") %><br>
  	<%= image_tag("/assets/Power_punch.jpg", size: "400x350") %><br>
  </p>