<p style="margin-left: 2em; font-size: 15px;">
    <%= link_to image_tag("/assets/logo/Nippon_Tape_logo.png",size: "200x75"), "/product/nippon" %><br><br>
  	<strong>Tape</strong><br><br>
  	<%= image_tag("/assets/Nippon/Tape_1.png", size: "450x275") %>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
  	<%= image_tag("/assets/Nippon/Tape_2.png", size: "400x275") %><br><br>
  	<%= image_tag("/assets/Nippon/Tape_3.JPG", size: "400x275") %>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
  	<%= image_tag("/assets/Nippon/Tape_4.JPG", size: "400x275") %><br><br><br>
   	<%= image_tag("/assets/Nippon/Tape_5.JPG", size: "400x275") %>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;

</p>